@-moz-document url-prefix("https://www.yuque.com/zzzxs/") {
    /* author: liwq */
    
    /* 整体样式，字体-背景 */
    div[class*="DocReader-module_content"],
    .ne-editor-body {
        font-family: -apple-system, system-ui, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif!important;
        background-image: linear-gradient(90deg, rgba(60, 10, 30, .04) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, .04) 3%, transparent 0);
        background-size: 20px 20px;
        background-position: 50%;
    }
    /* ------------------------------------- 阅读状态 -------------------------------------------*/
    /* 标题颜色修改 */
    #article-title,
    .lake-title {
        color: #4169e1!important;
    }
    .ne-viewer-body ne-h1,
    .ne-viewer-body ne-h2,
    .ne-viewer-body ne-h3,
    .ne-viewer-body ne-h4,
    .ne-viewer-body ne-h5,
    .ne-viewer-body ne-h6,
    .ne-viewer-body ne-h7 {
        color: #4169E1;
        border-left: 4px solid;
        padding: 0 0 0 10px;
    }
    /* 文本 */
    .ne-viewer-body div,
    .ne-viewer-body p,
    .ne-viewer-body textarea,
    .ne-viewer-body ne-text {
        color: #595959;
    }
    /* 标题颜色，加粗 */
    .ne-viewer-body ne-heading-content ne-text {
        color: #4169e1;
        font-weight: 600;
    }
    /* h1 */
    .ne-viewer-body ne-h1 {
        border-left: none;
        border-bottom: 2px solid #4169e1;
        padding: 0;
    }
    .ne-viewer-body ne-h1 ne-text {
        background: #4169e1;
        color: #FFF;
        margin: 0 3px 0 0;
        padding: 3px 10px 0;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    /* 链接加粗 */
    .ne-viewer-body a ne-text,
    ne-link ne-text {
        font-weight: 600;
    }
    .ne-link:hover {
        border-bottom: 1px solid #4169e1;
    }
    
    /* ------------------------------------- 编辑状态 -------------------------------------------*/
    /* 标题 */
    .ne-editor-body ne-h1,
    .ne-editor-body ne-h2,
    .ne-editor-body ne-h3,
    .ne-editor-body ne-h4,
    .ne-editor-body ne-h5,
    .ne-editor-body ne-h6,
    .ne-editor-body ne-h7 {
        color: #4169e1;
        border-left: 4px solid;
        padding: 0 0 0 10px;
    }
    /* 文本 */
    .ne-editor-body div,
    .ne-editor-body p,
    .ne-editor-body span,
    .ne-editor-body textarea {
        color: #595959;
    }
    /* 标题颜色，加粗 */
    .ne-editor-body ne-heading-content ne-text {
        color: #4169e1;
        font-weight: 600;
    }
    /* h1 */
    .ne-editor-body ne-h1 {
        border-left: none;
        border-bottom: 2px solid #4169e1;
        padding: 0;
    }
    .ne-editor-body ne-h1 ne-text {
        background: #4169e1;
        color: #fff;
        margin: 0 3px 0 0;
        padding: 3px 10px 0;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }
    /* 链接加粗 */
    .ne-editor-body ne-link ne-text {
        font-weight: 600;
    }
    .ne-editor-body ne-link ne-text::before {
        content: '⌕';
        font-size: 18px;
    }
    /* 链接样式 */
    .ne-editor-body ne-link ne-text::before {
        content: '⌕';
        font-size: 18px;
    }
    ne-link:hover {
        border-bottom: 1px solid #4169E1;
    }
    
    /* ------------------------------------- 其他 -------------------------------------------*/
    /* 行内代码 */
    ne-code-content {
        font-size: .9em;
        padding: .15em .2em!important;
        background-color: #6AC5FD!important;
        /*border: 2px solid #595959;*/
        border: none;
        border-radius: 0.25rem;
        
        margin: 0px 3px 0px 3px;
        /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
        text-shadow: 0px 0px 10px #0F111A;
        font-family: monaco,Consolas,Courier,'NotoSansSC';
    }
    ne-code-content ne-text {
        color: rgb(255, 255, 255)!important;
        font-weight:bold;
    }
    /* 代码块 */
    ne-card[data-card-name="codeblock"] {
        border: none !important;
        margin-top: 0px;
        margin-bottom: 0px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    }
    /* 提示块，ne-alert */
    ne-alert[ne-alert-type="tips"],
    ne-alert[ne-alert-type="info"],
    ne-alert[ne-alert-type="success"],
    ne-alert[ne-alert-type="warning"],
    ne-alert[ne-alert-type="danger"] {
        box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
    }
    ne-alert[ne-alert-type="tips"] ne-text,
    ne-alert[ne-alert-type="info"] ne-text,
    ne-alert[ne-alert-type="success"] ne-text,
    ne-alert[ne-alert-type="warning"] ne-text,
    ne-alert[ne-alert-type="danger"] ne-text {
        font-weight: bold;
    }
    
    /* 表格 */
    tbody tr:first-child td {
        background-color: #d9ede5;
    }
    tbody tr:first-child td ne-text {
        color: #0f111a;
        font-weight: 600;
    }
    
    }
 /*--------------------------------------------------------------------------*/
 @-moz-document url-prefix("https://www.yuque.com/zzzxs/") {
    
    .ne-code-viewer {
        background-color: rgba(30, 31, 35, 1);
    
    }
    
    .cm-s-default.CodeMirror {
        background-color: rgb(30, 31, 35, 1);
        color: #8F93A2;
        font-size: 10px;
        font-weight:bold;
        font-family: monaco,Consolas,Courier,'NotoSansSC';
        /*border-radius: 6px;*/
        padding: 8px 4px 8px 4px !important;
        /*box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);*/
    }
    
    .cm-s-default .CodeMirror-gutters {
        background: rgb(30, 31, 35);
        color: #1D1F23;
        border: none;
    }
    
    
    .cm-s-default .CodeMirror-guttermarker,
    .cm-s-default .CodeMirror-guttermarker-subtle,
    .cm-s-default .CodeMirror-linenumber {
        color: #8F93A2;
        padding-left: 0px;
    }
    
    
    .CodeMirror-lines {
      padding-left: 0px;
    }
    
    /* selected text and cursor */
    .CodeMirror-selected,
    .CodeMirror-selectedtext {
      background: #3b4252 !important;
    }
    
    .CodeMirror div.CodeMirror-cursor {
      border-left: 2px solid #5e81ac;
      z-index: 3;
    }
    
    .CodeMirror.cm-s-default div.CodeMirror-cursor {
      border-left: 3px solid #5e81ac;
    }
    
    /* highlight */
    .cm-s-default .cm-property {
      color: #88c0d0 !important;
    }
    
    .cm-s-default .cm-operator {
      color: #8fbcbb !important;
    }
    
    .cm-s-default .cm-keyword {
      color: #b48ead !important;
    }
    
    .cm-s-default .cm-tag {
      color: #bf616a !important;
    }
    
    .cm-s-default .cm-attribute {
      color: #d08770 !important;
    }
    
    .cm-s-default .cm-string {
      color: #a3be8c !important;
    }
    
    .cm-s-default .cm-comment,
    .cm-s-default.cm-comment {
      /*     color: var(--code-orange-color) !important; */
      color: #d8dee9 !important;
      font-style: italic;
    }
    
    .cm-s-default .cm-header,
    .cm-s-default .cm-def,
    .cm-s-default .cm-header,
    .cm-s-default .cm-def {
      /*     color: var(--code-red-color) !important; */
      color: #88c0d0 !important;
    }
    
    .cm-s-default .cm-meta,
    .cm-s-default .cm-qualifier {
      color: #bf616a !important;
    }
    
    .cm-s-default .cm-builtin {
      /*     color: var(--code-blue-color) !important; */
      color: #8fbcbb !important;
    }
    
    .cm-s-default .cm-bracket {
      color: #eceff4 !important;
    }
    
    .cm-s-default .cm-number {
      color: #d08770 !important;
    }
    
    .cm-s-default .cm-variable {
      color: #eceff4 !important;
    }
    
    .cm-s-default .cm-variable-2 {
      /*     color: var(--code-blue-color) !important; */
      color: #ebcb8b !important;
    }
    
    .cm-formatting-task .cm-formatting-task {
      color: #bf616a;
    }
    
    /* math formula tag */
    .cm-s-default .cm-atom,
    .cm-s-default .cm-atom {
      color: #88c0d0;
    }
    
    
    /* horizontal divider when language is markdown */
    .cm-s-default .cm-hr {
      color: #eceff4;
    }
    
    /* variable type when language is c/cpp */
    .cm-s-default .cm-variable-3 {
      color: #b48ead;
    }
    
    /* unknown highlight keyword */
    .cm-s-default .cm-quote,
    .cm-s-default .cm-quote {
      color: #a3be8c;
    }
    
    .cm-s-default .cm-link {
      color: #88c0d0;
    }
    
    .cm-s-default .cm-negative {
      color: #b48ead;
    }
    
    .cm-s-default .cm-positive {
      color: #a3be8c;
    }
    
    .cm-s-default .cm-string-2 {
      color: #bf616a;
    }
    
    .CodeMirror-gutters {
      border-right: none;
    }
    }